$home_img: url('https://www.themoviedb.org/t/p/original/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg');

.App{
  flex: 1 1 auto;
  min-height: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}
.inner_content_part_one {
  background: $home_img no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 300px;
  height: calc(100vh / 2.5);
  max-height: 360px;
  background-position: top center;
  color: #fff;
  
  .column_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }
  .content_wrapper{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
div.content_wrapper>div.title {
  display: inline-grid;
  width: 100%;
  margin-bottom: 20px;
}
div.content_wrapper>div.title h2 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
}
div.content_wrapper>div.title h3 {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

form.search_form {
  margin-top: 20px;
  position: relative;
  top: 0;
  left: 0;
}
label.search_label {
  display: inline-flex;
  width: 100%;
}
label.search_label input[type="text"]{
  width: 100%;
  height: 26px;
  line-height: 46px;
  font-size: 1.1em;
  color: rgba(0,0,0,0.5);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}

button.search_button {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 46px;
    padding: 10px 26px;
    border: none;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: -1px;
    color: #fff;
    background: linear-gradient(to right, rgb(23, 167, 159) 0%, rgb(2, 42, 80) 100%);
    cursor: pointer;
}
.header_nav {
  height: 50px;
  background: linear-gradient(to left, rgb(23, 167, 159) 0%, rgb(2, 42, 80) 100%);
  width: 100%;
  display: flex;
  position:fixed;
}
.header_div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_text{
  color: #fff;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.footer_nav {
  height: 20px;
  background: linear-gradient(to left, rgb(23, 167, 159) 0%, rgb(2, 42, 80) 100%);
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
}
.footer_div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.inner_content_part_two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 20px 30px;
}
.card_container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: calc(180px * 2);
}

.card{
  flex-shrink: 0;
  width: 150px;
  height: calc(150px * 1.5);
  border-radius: 10px;
  margin-left: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.card_img{
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    width: 100%;
    min-height: calc(150px * 1.5);
    height: calc(150px * 1.5);
    overflow: hidden;
    border-radius: 10%;
}
.card_img_inner{
  display: inline-block;
    width: 100%;
    height: 100%;
}
.rating {
  width: 100%;
    padding: 26px 10px 0px 10px;
    position: relative;
    white-space: normal;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
.card_rating_otter_ring{
  position: absolute;
  top: -19px;
  left: 10px;
}
.card_rating_ring{
  width: 38px;
  height: 38px;
  padding: 2px;
  background-color: rgb(2, 42, 80);
  border-radius: 50%;
}
.card_rating{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    padding-top: 5px;
}
.outter_details{
  padding: 80px 30px 20px 30px;
  display: flex;
  flex-wrap: nowrap;
}
.img_details{
  height: 450px;
  width: 300px;
 overflow: hidden;
}
.overview_details{
  display: flex;
  flex-direction: column;
  width: 900px;
  margin-left: 30px;
}

#bar_chart{
  width: 100vw;
  height: 100vh;
}

.icon_div{
  color: #fff;
  font-size: 23px;
  cursor: pointer;
}
.stats_container{
  // display: flex;
  background-color: rgb(9, 43, 43);
  text{
    font-size: 10px;
    fill: #fff;
  }
  text.label {
    font-size: 12px;
  }
  path{ 
    fill: #fff;
  }
  path.domain {
    stroke: white;
  }
}

.stats_title{
  color: rgb(255, 255, 255);
  padding: 70px 0px 0px 50px;
  font-weight: 600;
}
